
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #333;
}
.main-content {
  padding: 20px;
  text-align: center;
}
.big-logo {
  width: 300px;
}
img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 10px;
}
section {
  margin-bottom: 30px;
}
.footer {
  background-color: #4CAF50;
  color: white;
  position: relative;
  padding: 15px;
  text-align: center;
  bottom: 0;
  width: 100%;
}
